<template>
    <div id="wrapper">
        <label for="board">Board</label>
        <select id="board" v-model="board">
            <option value="ToDo">ToDo</option>
            <option value="In Procces">In Process</option>
            <option value="Done">Done</option>
        </select>
        <label for="name">Name</label>
        <input id="name" type="text" v-model="name" />
        <label for="date">Date</label>
        <input id="date" type="date" v-model="date" />
        <label for="description">Description</label>
        <textarea id="description" v-model="description"></textarea>
        <button id="ok-button" @click="submit">{{ submitType }}</button>
        <button id="cancel-button" @click="close">Cancel</button>
    </div>
</template>

<script setup>
    import { ref, computed, watch } from 'vue'
    import { store } from '../stores/store'
    let state = store.state

    let board = ref('')
    let name = ref('')
    let date = ref('')
    let description = ref('')

    let submitType = computed(() => {
        if (state.show.modal.add.task) return 'Add'
        return 'Save'
    })

    watch(state.show.modal, () => {
        board.value = getHeader(state.current.list)
        if (state.show.modal.add.task) {
            name.value = ''
            date.value = ''
            description.value = ''
        }
        else if (state.show.modal.edit.task) {
            let task = state.taskList[getPropByIndex(state.current.list)].find((task) => {
                return task._id === state.current.task
            })
            name.value = task.name
            date.value = task.date
            description.value = task.description
        }
    })

    function submit() {
        let task = { date: date.value, description: description.value, name: name.value }
        if (state.show.modal.add.task) {
            state.socket.emit('addTask', task, state.client._id, getIndexOfHeader(board.value))
        } else {
            task._id = state.current.task
            state.socket.emit('editTask', task, state.client._id, getIndexOfHeader(board.value), state.current.list)
        }
        close()
    }
    function close() {
        state.show.modal.add.task = false
        state.show.modal.edit.task = false
    }
    function getHeader(index) {
        let headers = ['ToDo', 'In Procces', 'Done']
        return headers[index]
    }
    function getIndexOfHeader(header) {
        let headers = ['ToDo', 'In Procces', 'Done']
        return headers.indexOf(header)
    }
    function getPropByIndex(index) {
        let props = ['toDo', 'inProcces', 'done']
        return props[index]
    }

</script>

<style scoped>

    #wrapper {
        font-family: Arial;
        font-size: 16px;
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        position: fixed;
        border: 2px solid gray;
        border-radius: 8px;
        background: white;
        padding: 60px 40px;
        row-gap: 12px;
    }

    #ok-button {
        position: absolute;
        bottom: 16px;
        right: 100px;
    }

    #cancel-button {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }

</style>