<template>
    <div id="wrapper">
        <h3 id="header">{{ header }}</h3>
        <fieldset id="fieldset">
            <label>Group</label>
            <select id="group" v-model="group">
                <option value="KN-21">KN-21</option>
                <option value="KN-22">KN-22</option>
            </select>
            <label>First name</label>
            <input type="text" id="first-name" v-model="firstName" />
            <label>Last name</label>
            <input type="text" id="last-name" v-model="lastName" />
            <label>Gender</label>
            <select id="gender" v-model="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <label>Birthday</label>
            <input type="date" id="birthdate" v-model="birthdate" />
        </fieldset>
        <button id="ok-button" @click="submit">Ok</button>
        <button id="close-button" @click="close">
            <img id="close-image" src="../assets/delete.svg" alt="C" />
        </button>
    </div>
</template>

<script setup>
    import { ref, computed, watch } from 'vue'
    import { store } from '../stores/store'
    let state = store.state

    let birthdate = ref('')
    let firstName = ref('')
    let gender = ref('')
    let group = ref('')
    let lastName = ref('')

    let header = computed(() => {
        if (state.show.modal.add.student) return 'Add student'
        return 'Edit student'
    })

    watch(state.show.modal, () => {
        if (state.show.modal.add.student) {
            birthdate.value = ''
            firstName.value = ''
            gender.value = ''
            group.value = ''
            lastName.value = ''
        }
        else if (state.show.modal.edit.student) {
            let student = state.students.find((student) => { return student._id === state.current.student })
            birthdate.value = student.birthdate
            firstName.value = student.firstName
            gender.value = student.gender
            group.value = student.group
            lastName.value = student.lastName
        }
    })

    function submit() {
        let data = {
            birthdate: birthdate.value,
            firstName: firstName.value,
            gender: gender.value,
            group: group.value,
            lastName: lastName.value,
        }
        if(!isValidStudent(data)) return
        if (state.show.modal.add.student) {
            state.socket.emit('addStudent', data)
        }
        else {
            data._id = state.current.student
            state.socket.emit('editStudent', data)
        }
        close()
    }
    function close() {
        state.show.modal.add.student = false
        state.show.modal.edit.student = false
    }
    function isValidStudent(data) {
        // Data for validation
        let letters = /^[A-Za-z]+$/
        let maxDate = "2023-01-01"
        let minDate = "1923-01-01"

        if (data.group == "") {
            alert("Choose the group")
            document.getElementById("group").focus()
            return false
        } else if (!data.firstName.match(letters) || data.firstName == "") {
            alert("Uncorrect first name")
            document.getElementById("first-name").focus()
            return false
        } else if (!data.lastName.match(letters) || data.lastName == "") {
            alert("Uncorrect last name")
            document.getElementById("last-name").focus()
            return false
        } else if (data.gender == "") {
            alert("Choose the gender")
            document.getElementById("gender").focus()
            return false
        } else if (data.birthdate == "" || data.birthdate > maxDate || data.birthdate < minDate) {
            alert("Uncorrect birthdate")
            document.getElementById("birthdate").focus()
            return false
        }
        return true
    }

</script>

<style scoped>

    button {
        background-color: white;
        border-radius: 0px;
        border: 2px solid gray;
        cursor: pointer;
    }

    #wrapper {
        font-family: Arial;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        border: 2px solid gray;
        border-radius: 8px;
        background: white;
    }

    #fieldset {
        margin: 60px 0px;
        border: solid black;
        border-width: 1px 0px;
        padding: 8px 80px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-row-gap: 12px;
    }

    #header {
        position: absolute;
        top: 24px;
        left: 16px;
    }

    #ok-button {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }

    #close-button {
        position: absolute;
        top: 16px;
        right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    #close-image {
        height: 24px;
        width: 24px;
    }

</style>