<template>
    <div id="wrapper">
        <!--General header-->
        <div id="header-container">
            <h1 id="header" class="header">Messages</h1>
        </div>
        <!--All content-->
        <div id="main">
            <!--Left side window-->
            <aside id="rooms-window" class="window">
                <!--Rooms header-->
                <div id="rooms-header-container">
                    <h2 id="rooms-header" class="header">Chat room</h2>
                    <button id="new-room-button" @click="emit('createNewRoom')">+ New chat room</button>
                </div>
                <!--List of rooms-->
                <div id="rooms-list-container">
                    <ul id="rooms-list">
                        <li class="rooms-list-item" v-for="room in rooms" :key="room.id">
                            <div :class="room.id === currentRoom.id ? 'room-container-selected' : 'room-container-common'">
                                <button class="room-button"  @click="emit('changeRoom', room.id)">
                                    <div class="room-image-container">
                                        <img class="room-image" src="../assets/profile.svg" alt="Profile" />
                                    </div>
                                    <div class="room-name-container">
                                        <p class="room-name">{{ room.name }}</p>
                                    </div>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </aside>
            <!--Right side window-->
            <div id="chat-window" class="window">
                <!--Concrete room header-->
                <div id="chat-header-container">
                    <h2 id="chat-header" class="header">Chat room {{ currentRoom.name }}</h2>
                </div>
                <!--Concrete room members-->
                <div id="chat-members-container">
                    <!--Members header-->
                    <div id="chat-member-header-container">
                        <h3 id="chat-member-header" class="header">Members</h3>
                    </div>
                    <!--Members list-->
                    <div id="chat-members-images-container">
                        <ul id="chat-members-images-list">
                            <li class="chat-members-images-list-item" v-for="member in currentRoom.members" :key="member.id">
                                <div class="chat-member-image-container" :title="member.name">
                                    <img class="chat-member-image" src="../assets/profile.svg" alt="Profile" />
                                </div>
                            </li>
                            <li id="chat-add-member-item" class="chat-members-images-list-item">
                                <div class="chat-member-image-container">
                                    <button id="add-member-button">
                                        <img class="chat-member-image" src="../assets/add.svg" alt="Add" />
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Messages-->
                <div id="chat-messages-block-container">
                    <!--Messages header-->
                    <div id="chat-messages-header-container">
                        <h3 id="chat-messages-header" class="header">Messages</h3>
                    </div>
                    <!--Messages list-->
                    <div id="chat-messages-container">
                        <ul id="chat-messages-subcontainer">
                            <li :class="message.author.id === clientId ? 'message-container-me' : 'message-container-member'" v-for="message in currentRoom.messages" :key="message.id">
                                <div class="message-sender">
                                    <div class="message-sender-image">
                                        <img class="sender-image" src="../assets/profile.svg" alt="Profile" />
                                    </div>
                                    <div class="message-sender-name">{{ message.author.id === clientId ? 'Me' : message.author.name }}</div>
                                </div>
                                <div :class="message.author.id === clientId ? 'message-text-me' : 'message-text-member'">{{ message.text }}</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Send block-->
                <div id="chat-send-container">
                    <div id="chat-send-field" contenteditable="true" role="textbox"></div>
                    <div id="chat-send-button-container">
                        <button id="chat-send-button" @click="sendMessage">
                            <img id="chat-send-image" src="../assets/send.svg" alt="Send" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
    import { defineProps, defineEmits } from 'vue'
    const emit = defineEmits(['sendMessage', 'changeRoom', 'createNewRoom'])
    defineProps({
        rooms: Array,
        currentRoom: Object,
        clientId: Number
    })
    function sendMessage() {
        let field = document.getElementById('chat-send-field')
        emit('sendMessage', field.innerText)
        field.innerText = ''
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    button {
        border: none;
        background: none;
        padding: 0px;
        cursor: pointer;
    }

    #wrapper {
        font-family: Arial;
        font-size: 16px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #header {
        margin: 20px;
        font-size: 28px;
    }

    #main {
        height: 100%;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 100%;
    }

    .window {
        border: 2px solid grey;
        margin: 20px;
        padding: 12px;
    }

    #rooms-window {
        display: flex;
        flex-direction: column;
    }

    #rooms-header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #rooms-header {
        font-weight: 600;
    }

    #new-room-button {
        font-size: 12px;
    }

    #rooms-list-container {
        height: 100%;
        overflow-y: scroll;
        margin-top: 8px;
    }

    #rooms-list {
        row-gap: 12px;
        display: flex;
        flex-direction: column;
    }

    .room-container-selected {
        margin: 0px 12px;
        border-radius: 8px;
        background-color: #aeaed7;
    }

    .room-container-common {
        margin: 0px 12px;
        border-radius: 8px;
        background-color: #cccccc;
    }

    .room-button {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 8px;
        width: 100%;
    }

    .room-image {
        height: 24px;
    }

    .room-name {
        font-size: 12px;
        text-indent: 8px;
    }

    #chat-window {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    #chat-header {
        font-weight: 600;
    }

    #chat-member-header-container {
        padding: 8px 0px;
    }

    #chat-members-images-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .chat-members-images-list-item {
        margin: 4px;
        padding: 4px;
    }

    .chat-member-image {
        height: 20px;
    }

    #add-member-button {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #cccccc;
    }

    .chat-member-image-container {
        height: 20px;
        width: 20px;
    }

    #chat-messages-block-container {
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        min-height: 100px;
    }

    #chat-messages-header-container  {
        padding-top: 8px;
    }

    #chat-messages-container {
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column-reverse;
        margin: 8px 0px;
        box-shadow: inset -8px -8px 4px white, inset -8px 8px 4px white;
    }

    #chat-messages-subcontainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        z-index: -1;
    }

    .message-container-member {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 8px;
        padding-left: 0px;
    }

    .message-container-me {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 8px;
        padding-left: 0px;
    }

    .message-sender {
        margin: 0px 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .message-sender-image {
        height: 20px;
        width: 20px;
    }

    .sender-image {
        height: 20px;
    }

    .message-sender-name {
        font-size: 12px;
    }

    .message-text-member {
        background-color: #cccccc;
        border-radius: 4px;
        /*flex-grow: 1;*/
        padding: 8px;
        white-space: pre-wrap;
        word-break: break-word;
    }

    .message-text-me {
        background-color: #aeaed7;
        border-radius: 4px;
        /*flex-grow: 1;*/
        padding: 8px;
        white-space: pre-wrap;
        word-break: break-word;
    }

    #chat-send-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        border: 2px solid gray;
        border-radius: 8px;
        padding: 4px;
    }

    #chat-send-field {
        border: 1px solid gray;
        flex-grow: 1;
        padding: 4px;
        white-space: pre-wrap;
        word-break: break-word;
        overflow: auto;
        max-height: 16vh;
    }

    #chat-send-button-container {
        height: 20px;
        width: 20px;
        margin: 4px 16px;
    }

    #chat-send-button {
        height: 20px;
        width: 20px;
    }

    #chat-send-image {
        height: 20px;
    }



    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        border: 1px solid #cccccc;
        border-radius: 12px;
    }

    ::-webkit-scrollbar-thumb {
        background: #cccccc;
        border-radius: 12px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: gray;
    }

</style>
