<template>
    <div id="wrapper">
        <h3 id="header">Warning</h3>
        <p id="text">Are you sure you want to delete user {{ name }} ?</p>
        <button id="ok-button" @click="submit">Ok</button>
        <button id="cancel-button" @click="state.show.modal.delete.student = false">Cancel</button>
    </div>
</template>

<script setup>
    import { computed } from 'vue'
    import { store } from '../stores/store'
    let state = store.state

    let name = computed(() => {
        let student = state.students.find((student) => { return student._id === state.current.student })
        if (student) return student.firstName + ' ' + student.lastName
        return ''
    })

    function submit() {
        state.socket.emit('deleteStudent', { _id: state.current.student });
        state.show.modal.delete.student = false
        state.students = state.students.filter((student) => { return student._id !== state.current.student })
    }

</script>

<style scoped>

    button {
        background-color: white;
        border-radius: 0px;
        border: 2px solid gray;
        cursor: pointer;
    }

    #wrapper {
        font-family: Arial;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        border: 2px solid gray;
        border-radius: 8px;
        background: white;
    }

    #header {
        position: absolute;
        top: 24px;
        left: 16px;
    }

    #text {
        margin: 60px 0px;
        border: solid black;
        border-width: 1px 0px;
        padding: 32px 80px;
    }

    #ok-button {
        position: absolute;
        bottom: 16px;
        right: 100px;
    }

    #cancel-button {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }

</style>