<template>
    <div id="wrapper">
        <h1 v-if="state.client.authorized" class="header">Hello, {{ state.client.name }}</h1>
        <h1 v-else class="header">Sign in to continue</h1>
    </div>
</template>

<script setup>
    import { store } from '../stores/store'
    let state = store.state
</script>

<style scoped>

    #wrapper {
        font-family: Arial;
        font-size: 16px;
        height: 100%;
    }

    .header {
        margin: 20px;
        font-size: 28px;
    }

</style>