<template>
    <div id="wrapper">
        <h2 id="header">Profile</h2>
        <div id="main">
            <div id="image-change-container">
                <div id="profile-image-container">
                    <img id="profile-image" :src="state.client.image" alt="P" />
                </div>
                <div id="nickname-fields">
                    <label for="nickname-input">Nickname:</label>
                    <input id="nickname-input" type="text" v-model="nickname" />
                </div>
            </div>
            <div id="image-fields">
                <label for="image-input">Image URL:</label>
                <input id="image-input" type="url" v-model="imageURL" />
            </div>
        </div>
        <button id="save-button" @click="save">Save</button>
        <button id="cancel-button" @click="clear">Cancel</button>
        <button id="close-button" @click="state.show.modal.edit.profile = false">X</button>
    </div>
</template>

<script setup>
    import { ref, watch } from 'vue'
    import { store } from '../stores/store'
    let state = store.state

    let imageURL = ref('')
    let nickname = ref('')

    watch(state.show.modal.edit, () => {
        if (state.show.modal.edit.profile) {
            clear()
        }
    })

    function save() {
        state.client.name = nickname.value
        state.client.image = imageURL.value
        state.socket.emit('editProfile', state.client._id, imageURL.value, nickname.value)
    }
    function clear() {
        imageURL.value = state.client.image
        nickname.value = state.client.name
    }

</script>

<style scoped>

    button {
        background-color: white;
        border-radius: 0px;
        border: 2px solid gray;
    }

    #wrapper {
        font-family: Arial;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        border: 2px solid gray;
        border-radius: 8px;
        background: white;
    }

    #header {
        position: absolute;
        top: 24px;
        left: 16px;
    }

    #main {
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
        display: flex;
        flex-direction: column;
        margin: 60px 0px;
        padding: 18px 36px;
    }

    #image-change-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #profile-image {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    #nickname-fields {
        display: flex;
        flex-direction: column;
        padding: 16px;
        gap: 8px;
    }

    #image-fields {
        display: flex;
        flex-direction: column;
        padding: 16px 0px;
        gap: 8px;
    }

    #save-button {
        position: absolute;
        bottom: 16px;
        right: 100px;
    }

    #cancel-button {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }

    #close-button {
        position: absolute;
        top: 16px;
        right: 16px;
    }

</style>