<template>
    <div id="wrapper">
        <h2 id="header">{{ header }}</h2>
        <div id="fields">
            <label for="nickname-input" v-if="state.show.modal.sign.up">Nickname</label>
            <input id="nickname-input" type="text" v-model="nickname" v-if="state.show.modal.sign.up" />
            <label for="login-input">Login</label>
            <input id="login-input" type="text" v-model="login" />
            <label for="password-input">Password</label>
            <input id="password-input" type="password" v-model="password" />
            <label for="password-again-input" v-if="state.show.modal.sign.up">Password again</label>
            <input id="password-again-input" type="password" v-model="passwordAgain" v-if="state.show.modal.sign.up" />
        </div>
        <button id="ok-button" @click="sendData">Ok</button>
        <button id="close-button" @click="closeModal">
            <img id="close-image" src="../assets/delete.svg" alt="C" />
        </button>
    </div>
</template>

<script setup>
    import { ref, computed, watch } from 'vue'
    import { store } from '../stores/store'
    let state = store.state

    let nickname = ref('')
    let login = ref('')
    let password = ref('')
    let passwordAgain = ref('')
    
    let header = computed(() => {
        if (state.show.modal.sign.in) return 'Sign in'
        return 'Sign up'
    })

    watch(state.show.modal, () => {
        if (state.show.modal.sign.in || state.show.modal.sign.up) {
            nickname.value = ''
            login.value = ''
            password.value = ''
            passwordAgain.value = ''
        }
    })

    function sendData() {
        if (state.show.modal.sign.in) {
            state.socket.emit('signIn', login.value, password.value)
        } else {
            if (password.value !== passwordAgain.value) {
                alert('Passwords is different')
                return
            }
            state.socket.emit('signUp', login.value, nickname.value, password.value)
        }
    }
    function closeModal() {
        state.show.modal.sign.in = false
        state.show.modal.sign.up = false
    }

    function notificate() {
        const anim = [
            { opacity: 0 },
            { opacity: 1 },
        ]
        const params = {
            duration: 1000,
            delay: 1000,
            iterations: 5,
            direction: "alternate",
            fill: "forwards",
        }
        document.getElementById("notification-circle").animate(anim, params);
    }

    state.socket.on('signInResponse', (data) => {
        console.log(data)
        state.client._id = data._id
        state.client.authorized = true
        state.client.image = data.image
        state.client.name = data.name
        Object.assign(state.rooms, data.accessibleRooms)
        Object.assign(state.taskList, data.taskList)
        //state.notifications = data.notifications
        //if (state.notifications && state.notifications.length > 0) notificate()
        closeModal()
    })
    state.socket.on('unsuccessfulSignIn', () => {
        alert('Wrong login or password')
    })
    state.socket.on('unsuccessfulSignUp', () => {
        alert('This login is already taken')
        document.getElementById('login-input').focus()
    })
    state.socket.on('accessViolation', (message) => {
        alert(message)
    })
</script>

<style scoped>

    button {
        background-color: white;
        border-radius: 0px;
        border: 2px solid gray;
        cursor: pointer;
    }

    #wrapper {
        font-family: Arial;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        border: 2px solid gray;
        border-radius: 8px;
        background: white;
    }

    #header {
        position: absolute;
        top: 24px;
        left: 16px;
    }

    #fields {
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
        margin: 60px 0px;
        padding: 36px;
    }

    #ok-button {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }

    #close-button {
        position: absolute;
        top: 16px;
        right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    #close-image {
        height: 24px;
        width: 24px;
    }

</style>