<template>
    <div id="wrapper">
        <div id="header-container">
            <h1 id="header">Tasks</h1>
        </div>
        <div id="main">
            <div class="task-list-module" v-for="(list, index) in lists" :key="index">
                <div class="task-list-header-container">
                    <h3>{{ getHeader(index) }}</h3>
                </div>
                <div class="task-list-content">
                    <ul class="task-list">
                        <li class="task-container" v-for="task in list" :key="task._id" @click="editTask(task._id, index)">
                            <div class="task-name">{{ task.name }}</div>
                            <div class="task-date">{{ getShortDate(task.date) }}</div>
                        </li>
                    </ul>
                    <div class="add-task-container">
                        <button class="add-task-button" @click="addTask(index)">+ Add task</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
    import { computed } from 'vue'
import { store } from '../stores/store'
    let state = store.state

    let lists = computed(() => {
        return [state.taskList.toDo, state.taskList.inProcces, state.taskList.done]
    })

    function addTask(list) {
        state.show.modal.add.task = true
        state.current.list = list
    }
    function editTask(_id, list) {
        state.show.modal.edit.task = true
        state.current.list = list
        state.current.task = _id
    }
    function getShortDate(date) {
        date = new Date(date)
        return String(date.getDate()).padStart(2, "0") + "." + String(date.getMonth() + 1).padStart(2, "0")
    }
    function getHeader(index) {
        let headers = ['ToDo', 'In Procces', 'Done']
        return headers[index]
    }

</script>

<style scoped>

     #wrapper {
        font-family: Arial;
        font-size: 16px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #header {
        margin: 20px;
        font-size: 28px;
    }

    #main {
        height: 100%;
        overflow: hidden;
        padding: 20px;
        margin-bottom: 60px;
        margin-right: 20px;
        gap: 48px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100%;
        overflow: auto;
    }

    .task-list-module {
        border: 2px solid gray;
        display: flex;
        flex-direction: column;
    }

    .task-list-header-container {
        padding: 4px;
        border-bottom: 2px solid gray;
        font-size: 12px;
        text-align: center;
    }

    .task-list-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .task-list {
        overflow: auto;
    }

    .task-container {
        border: 2px solid gray;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 4px;
        padding: 8px;
        gap: 12px;
        cursor: pointer;
    }

    .task-name {
        word-break: break-all;
    }

    .add-task-button {
        margin: 4px;
        border: none;
        background: white;
        font-size: 12px;
        cursor: pointer;
    }

</style>