<template>
    <div id="app-wrapper">
        <!--Header-->
        <header id="header">
            <!--Logo-->
            <div id="logo-container">
                <a id="logo-link" href="#">
                    <h1 id="logo-name">CMS</h1>
                </a>
            </div>
            <!--Right side header-->
            <div id="right-header-container">
                <!--Notifications-->
                <div id="notification-container" @mouseover="state.show.window.notifications = true" @mouseout="state.show.window.notifications = false">
                    <router-link id="notification-link" to="/messages">
                        <img id="notification-image" src="./assets/notification.svg" alt="N" />
                    </router-link>
                    <div id="notification-circle"></div>
                </div>
                <!--Profile-->
                <div id="profile-container" @mouseover="state.show.window.profile = true" @mouseout="state.show.window.profile = false">
                    <a id="profile-link" href="#">
                        <div id="profile-image-container">
                            <img id="profile-image" :src="state.client.image" alt="P" />
                        </div>
                        <div id="profile-name">{{ state.client.name }}</div>
                    </a>
                </div>
            </div>
        </header>
        <!--Main content-->
        <div id="main">
            <!--Navigation-->
            <aside id="navigation">
                <ul id="navigation-list">
                    <li class="navigation-item">
                        <router-link class="navigation-link" to="/">Dashboard</router-link>
                    </li>
                    <li class="navigation-item">
                        <router-link class="navigation-link" to="/students">Students</router-link>
                    </li>
                    <li class="navigation-item">
                        <router-link class="navigation-link" to="/tasks">Tasks</router-link>
                    </li>
                </ul>
            </aside>
            <!--Main content-->
            <div id="main-content">
                <router-view></router-view>
            </div>
            <!--Notification window-->
            <div id="notification-window" v-show="state.show.window.notifications && state.notifications.length" @mouseover="state.show.window.notifications = true" @mouseout="state.show.window.notifications = false">
                <div class="notification-message" v-for="notification in state.notifications" :key="notification._id">
                    <div class="notification-profile">
                        <img class="notification-profile-image" :src="notification.room.image" alt="P" />
                        <div class="notification-profile-name">{{ notification.room.name }}</div>
                    </div>
                    <div class="notification-message-box">{{ notification.text }}</div>
                </div>
            </div>
            <!--Profile window-->
            <div id="profile-window" v-show="state.show.window.profile" @mouseover="state.show.window.profile = true" @mouseout="state.show.window.profile = false">
                <ul id="profile-window-list">
                    <li v-if="!state.client.authorized" class="profile-window-list-item">
                        <div class="profile-window-list-item" @click="state.show.modal.sign.in = true">Sign in</div>
                    </li>
                    <li v-if="!state.client.authorized" class="profile-window-list-item">
                        <div class="profile-window-list-item" @click="state.show.modal.sign.up = true">Sign up</div>
                    </li>
                    <li v-if="state.client.authorized" class="profile-window-list-item">
                        <div class="profile-window-list-item" @click="state.show.modal.edit.profile = true">Profile</div>
                    </li>
                    <li v-if="state.client.authorized" class="profile-window-list-item">
                        <div class="profile-window-list-item" @click="logOut">Log out</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="modals-container" v-show="blockBackground">
        <SignInUpModal v-show="state.show.modal.sign.in || state.show.modal.sign.up" />
        <ProfileModal v-show="state.show.modal.edit.profile" />
        <AddMemberModal v-show="state.show.modal.add.member" />
        <AddEdtStudentModal v-show="state.show.modal.add.student || state.show.modal.edit.student" />
        <DeleteStudentModal v-show="state.show.modal.delete.student" />
        <AddEdtTaskModal v-show="state.show.modal.add.task || state.show.modal.edit.task" />
    </div>
</template>

<script setup>
    import { RouterLink, RouterView } from 'vue-router'
    import { io } from "socket.io-client";
    import { computed } from 'vue'
    import router from './router'

    import SignInUpModal from './components/SignInUpModal.vue'
    import ProfileModal from './components/ProfileModal.vue'
    import AddMemberModal from './components/AddMemberModal.vue'
    import AddEdtStudentModal from './components/AddEdtStudentModal.vue'
    import DeleteStudentModal from './components/DeleteStudentModal.vue'
    import AddEdtTaskModal from './components/AddEdtTaskModal.vue'

    import { store } from './stores/store'
    let state = store.state
    state.socket = io('http://localhost:3000')
    let blockBackground = computed(() => {
        // Sad check :c
        let modal = state.show.modal;
        let window = state.show.window;
        return modal.add.member || modal.add.student || modal.add.task
            || modal.edit.profile || modal.edit.student || modal.edit.task
            || modal.delete.student || modal.sign.in || modal.sign.up
    })
    
    function logOut() {
        state.socket.emit('logOut', state.client._id)
        state.client.authorized = false
        state.client.image = require('./assets/profile.svg')
        state.client.name = 'unauthorized'
        state.current.room = {}
        state.notifications.length = 0
        state.rooms.length = 0
        state.taskList.done.length = 0
        state.taskList.inProgress.length = 0
        state.taskList.toDo.length = 0
        router.push({ name: 'home' })
    }
    function notificate() {
        const anim = [
            { opacity: 0 },
            { opacity: 1 },
        ]
        const params = {
            duration: 1000,
            delay: 1000,
            iterations: 5,
            direction: "alternate",
            fill: "forwards",
        }
        document.getElementById("notification-circle").animate(anim, params);
    }

    //---------------------------------------------------------

    state.socket.on('addStudentResponse', (student) => {
        if (student) {
            state.students.push(student)
        }
        else {
            alert('Unable to add student')
        }
    })

    state.socket.on('editStudentResponse', (_student) => {
        if (_student) {
            let student = state.students.find((student) => { return student._id === _student._id })
            Object.assign(student, _student)
        }
        else {
            alert('Unable to edit student')
        }
    })

    state.socket.on('editTaskResponse', (_task, list, oldList) => {
        let getProp = (index) => {
            let props = ['toDo', 'inProcces', 'done']
            return props[index]
        }
        if (list !== oldList) {
            state.taskList[getProp(oldList)] = state.taskList[getProp(oldList)].filter((task) => { return task._id !== _task._id })
            state.taskList[getProp(list)].push(_task)
        }
        else {
            let task = state.taskList[getProp(list)].find((task) => { return task._id === _task._id })
            Object.assign(task, _task)
        }
    })

    state.socket.on('fetchRoomResponse', (room) => {
        state.current.room = room
        state.notifications = state.notifications.filter((not) => { return not.room._id !== room._id })
        if (state.notifications.length === 0) {
            document.getElementById("notification-circle").getAnimations().forEach((anim) => anim.cancel())
        }
    })

    state.socket.on('fetchStudentsResponse', (students) => {
        state.students = students ? students : []
    })

    state.socket.on('newMemberConnected', (member) => {
        state.current.room.members.push(member)
    })

    state.socket.on('newMessageReceived', (message) => {
        if (router.currentRoute.value.name === 'messages' && state.current.room._id === message.room._id) {
            state.current.room.messages.push({
                _id: message._id,
                author: message.author,
                text: message.text,
            })
        }
        else {
            state.notifications.push({
                _id: message._id,
                room: message.room,
                text: message.text,
            })
            notificate()
            state.socket.emit('saveNotification', message._id, state.client._id)
        }
    })

    state.socket.on('newRoomAvailable', (room) => {
        state.rooms.push(room)
    })

    state.socket.on('newTaskAvailable', (list, task) => {
        let prop = ((index) => {
            let props = ['toDo', 'inProcces', 'done']
            return props[index]
        })(list)
        state.taskList[prop].push(task)
    })

    state.socket.on('searchMembersResponse', (members) => {
        state.current.members = members
    })

    state.socket.on('signInResponse', (data) => {
        if (!data) {
            alert('Wrong login or password')
            document.getElementById('login-input').focus()
            return
        }
        else if (data.loginDuplicated) {
            alert('This login is already taken')
            document.getElementById('login-input').focus()
            return
        }
        state.client._id = data._id
        state.client.authorized = true
        state.client.image = data.image
        state.client.name = data.name
        state.rooms = data.accessibleRooms
        state.taskList = data.taskList
        state.notifications = data.notifications
        if (state.notifications.length > 0) notificate()
        state.show.modal.sign.in = false
        state.show.modal.sign.up = false
    })

</script>

<style scoped>

    a {
        color: inherit;
        text-decoration: inherit;
    }

    #app-wrapper {
        font-family: Arial;
        font-size: 16px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: gray;
        color: white;
    }

    #logo-name {
        margin: 12px;
    }

    #right-header-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    #notification-container {
        position: relative;
    }

    #notification-link {
        height: 100%;
        display: flex;
        align-items: center;
    }

    #notification-image {
        height: 24px;
        width: 24px;
        filter: invert();
        margin: 0px 4px;
    }

    #notification-circle {
        background-color: red;
        opacity: 0;
        position: absolute;
        top: 16px;
        right: 8px;
        border-radius: 4px;
        width: 8px;
        height: 8px;
    }

    #profile-link {
        padding: 8px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    #profile-image {
        height: 28px;
        width: 28px;
        border-radius: 50%;
    }

    #profile-name {
        padding-left: 4px;
        padding-right: 8px;
    }



    #main {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 100%;
        overflow: hidden;
        position: relative;
    }

    #navigation {
        margin: 20px 8px 0px 32px;
    }

    .navigation-item {
        margin: 12px 0px;
    }

    #main-content {
        margin-right: 16px;
        overflow: hidden;
    }



    #notification-window, #profile-window {
        position: absolute;
        top: 0px;
        right: 0px;
        background: white;
        border: 2px solid gray;
        color: black;
        z-index: 2;
    }

    #notification-window {
        min-width: 180px;
    }

    .notification-message {
        margin: 12px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .notification-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .notification-profile-image {
        height: 24px;
        width: 24px;
        border-radius: 50%;
    }

    .notification-profile-name {
        font-size: 12px;
    }

    .notification-message-box {
        margin-left: 8px;
        border-radius: 4px;
        padding: 8px;
        white-space: pre-wrap;
        word-break: break-word;
        background-color: #cccccc;
        width: 100%;
    }

    .profile-window-list-item {
        margin: 12px 20px;
        cursor: pointer;
    }



    #modals-container {
        position: fixed;
        inset: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }
</style>

<style>

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        border: 1px solid #cccccc;
        border-radius: 12px;
    }

    ::-webkit-scrollbar-thumb {
        background: #cccccc;
        border-radius: 12px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: gray;
    }

</style>
