<template>
    <div id="wrapper">
        <label for="board">Board</label>
        <select id="board" v-model="board">
            <option value="ToDo">ToDo</option>
            <option value="In Process">In Process</option>
            <option value="Done">Done</option>
        </select>
        <label for="name">Name</label>
        <input id="name" type="text" v-model="name" />
        <label for="date">Date</label>
        <input id="date" type="date" v-model="date" />
        <label for="description">Description</label>
        <textarea id="description" v-model="description"></textarea>
        <button id="ok-button" @click="submit">{{submitType}}</button>
        <button id="cancel-button" @click="cancel">Cancel</button>
    </div>
</template>

<script setup>
    import { computed, ref, watch } from 'vue'
    import { store } from '../stores/store'

    let socket = store.state.socket
    let client = store.state.client
    let taskLists = store.state.taskLists

    let submitType = computed(() => {
        if (client.addTaskModal) return 'Add'
        return 'Save'
    })

    let board = ref('ToDo')
    let name = ref('')
    let date = ref('')
    let description = ref('')

    watch(client, () => {
        let list = taskLists.find((list) => {
            return list.id === client.listToEdit
        })
        if (client.addTaskModal) {
            board.value = list.name
            name.value = ''
            date.value = ''
            description.value = ''
        } else if (client.editTaskModal) {
            let task = list.tasks.find((task) => {
                return task.id === client.taskToEdit
            })
            board.value = list.name
            name.value = task.name
            date.value = task.date
            description.value = task.description
        }
    })

    function submit() {
        if (client.addTaskModal) {
            socket.emit('addTask', client.id, client.listToEdit, board.value, name.value, date.value, description.value)
        } else {
            socket.emit('editTask', client.id, client.listToEdit, board.value, client.taskToEdit, name.value, date.value, description.value)
        }
        cancel()
    }
    function cancel() {
        client.addTaskModal = false
        client.editTaskModal = false
    }
</script>

<style scoped>

    #wrapper {
        font-family: Arial;
        font-size: 16px;
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        position: fixed;
        border: 2px solid gray;
        border-radius: 8px;
        background: white;
        padding: 60px 40px;
        row-gap: 12px;
    }

    #ok-button {
        position: absolute;
        bottom: 16px;
        right: 100px;
    }

    #cancel-button {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }

</style>