<template>
    <div id="wrapper">
        <h2 id="header">Add member</h2>
        <div id="main">
            <div id="member-name-input-container">
                <label for="member-name-input">Search member by nickname:</label>
                <input id="member-name-input" type="text" name="memberName" v-model="memberName" />
            </div>
            <ul id="matched-members-list">
                <li class="matched-members-list-item" v-for="member in membersList" :key="member.id">
                    <div :class="['matched-members-container', memberId === member.id ? 'choosed-member' : 'unchoosed-member']" :title="'id: ' + member.id" @click="choose(member.id)">
                        <img class="matched-members-image" :src="member.image" alt="P" />
                        <div class="matched-members-name">{{member.name}}</div>
                    </div>
                </li>
            </ul>
        </div>
        <button id="ok-button" @click="addMember">Ok</button>
        <button id="close-button" @click="closeModal">X</button>
    </div>
</template>

<script setup>
    import { ref, computed, watch } from 'vue'
    import { store } from '../stores/store'

    let socket = store.state.socket
    let client = store.state.client
    let currentRoom = store.state.currentRoom

    let membersList = ref([])
    let memberName = ref('')
    let memberId = ref(0)

    watch(memberName, () => {
        socket.emit('searchMembers', client.id, currentRoom.id, memberName.value)
    })

    function addMember() {
        if(memberId.value === 0 ) return
        socket.emit('addMember', currentRoom.id, memberId.value)
        closeModal()
    }
    function closeModal() {
        membersList.value = []
        memberName.value = ''
        memberId.value = 0
        client.addMemberModalVisibility = false;
    }
    function choose(member) {
        memberId.value = member
    }

    socket.on('receiveMembers', (members) => {
        membersList.value = members
    })

</script>

<style scoped>

    button {
        background-color: white;
        border-radius: 0px;
        border: 2px solid gray;
    }

    #wrapper {
        font-family: Arial;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        border: 2px solid gray;
        border-radius: 8px;
        background: white;
    }

    #header {
        position: absolute;
        top: 24px;
        left: 16px;
    }

    #main {
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
        display: flex;
        flex-direction: column;
        margin: 60px 0px;
        padding: 18px 36px;
    }

    #member-name-input-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    #matched-members-list {
        overflow-y: auto;
        max-height: 120px;
    }

    .matched-members-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        padding: 8px;
    }

    .choosed-member {
        background-color: #aeaed7;
    }

    .unchoosed-member {
        background-color: #cccccc;
    }

    .matched-members-image {
        height: 24px;
        width: 24px;
        border-radius: 50%;
    }

    #ok-button {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }

    #close-button {
        position: absolute;
        top: 16px;
        right: 16px;
    }
</style>