<template>
    <div id="wrapper">
        <h3 id="header">Warning</h3>
        <p id="text">Are you sure you want to delete user {{studentName}} ?</p>
        <button id="ok-button" @click="del">Ok</button>
        <button id="cancel-button" @click="cancel">Cancel</button>
    </div>
</template>

<script setup>
    import { ref, computed, watch } from 'vue'
    import { store } from '../stores/store'

    let socket = store.state.socket
    let students = store.state.students
    let studentsModals = store.state.studentsModals

    let studentName = computed(() => {
        let record = students.find((studentRecord) => {
            return studentRecord.id === studentsModals.currentId
        })
        if (record !== undefined) return record.firstName + ' ' + record.lastName
        return ''
    })

    function del() {
        socket.emit('deleteStudent', studentsModals.currentId)
        cancel()
    }
    function cancel() {
        studentsModals.deleteVisibility = false
    }

    socket.on('successfulDelete', (studentId) => {
        let studs = Object.assign([], students);
        students.length = 0;
        Object.assign(students, studs.filter((student) => student.id !== studentId));
    })

</script>

<style scoped>

    button {
        background-color: white;
        border-radius: 0px;
        border: 2px solid gray;
        cursor: pointer;
    }

    #wrapper {
        font-family: Arial;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        border: 2px solid gray;
        border-radius: 8px;
        background: white;
    }

    #header {
        position: absolute;
        top: 24px;
        left: 16px;
    }

    #text {
        margin: 60px 0px;
        border: solid black;
        border-width: 1px 0px;
        padding: 32px 80px;
    }

    #ok-button {
        position: absolute;
        bottom: 16px;
        right: 100px;
    }

    #cancel-button {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }

</style>