<template>
    <div id="wrapper">
        <h1 v-if="signIn.state" class="header">Hello, {{client.name}}</h1>
        <h1 v-else class="header">Sign in to continue</h1>
    </div>
</template>

<script setup>
    import { store } from '../stores/store'

    let client = store.state.client
    let signIn = store.state.signIn

</script>

<style scoped>

    #wrapper {
        font-family: Arial;
        font-size: 16px;
        height: 100%;
    }

    .header {
        margin: 20px;
        font-size: 28px;
    }

</style>