<template>
    <div id="wrapper">
        <h2 id="header">Profile</h2>
        <div id="main">
            <div id="image-change-container">
                <div id="profile-image-container">
                    <img id="profile-image" :src="client.image" alt="P" />
                </div>
                <div id="nickname-fields">
                    <label for="nickname-input">Nickname:</label>
                    <input id="nickname-input" type="text" name="nickname" v-model="nicknameValue" />
                </div>
            </div>
            <div id="image-fields">
                <label for="image-input">Image URL:</label>
                <input id="image-input" type="url" name="image" v-model="imageURLValue" />
            </div>
        </div>
        <button id="save-button" @click="saveData">Save</button>
        <button id="cancel-button" @click="clearData">Cancel</button>
        <button id="close-button" @click="closeModal">X</button>
    </div>
</template>

<script setup>
    import { ref, computed, watch } from 'vue'
    import { store } from '../stores/store'

    let socket = store.state.socket
    let client = store.state.client

    let imageURLValue = ref(client.image)
    let nicknameValue = ref(client.name)
    let modalVisibility = ref(false)

    watch(client, () => {
        if (client.profileModalVisibility !== modalVisibility.value) {
            modalVisibility.value = !modalVisibility.value
            if(modalVisibility.value === true) clearData()
        }
    })

    socket.on('profileChanged', () => {
        client.image = imageURLValue.value
        client.name = nicknameValue.value
    })
    function saveData() {
        socket.emit('changeProfile', client.id, nicknameValue.value, imageURLValue.value)
    }
    function clearData() {
        imageURLValue.value = client.image
        nicknameValue.value = client.name
    }
    function closeModal() {
        client.profileModalVisibility = false;
    }

</script>

<style scoped>

    button {
        background-color: white;
        border-radius: 0px;
        border: 2px solid gray;
    }

    #wrapper {
        font-family: Arial;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        border: 2px solid gray;
        border-radius: 8px;
        background: white;
    }

    #header {
        position: absolute;
        top: 24px;
        left: 16px;
    }

    #main {
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
        display: flex;
        flex-direction: column;
        margin: 60px 0px;
        padding: 18px 36px;
    }

    #image-change-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #profile-image {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    #nickname-fields {
        display: flex;
        flex-direction: column;
        padding: 16px;
        gap: 8px;
    }

    #image-fields {
        display: flex;
        flex-direction: column;
        padding: 16px 0px;
        gap: 8px;
    }

    #save-button {
        position: absolute;
        bottom: 16px;
        right: 100px;
    }

    #cancel-button {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }

    #close-button {
        position: absolute;
        top: 16px;
        right: 16px;
    }

</style>