<template>
    <div id="wrapper">
        <h2 id="header">{{header}}</h2>
        <div id="fields">
            <label for="nickname-input" v-if="signIn.upModal">Nickname</label>
            <input id="nickname-input" type="text" v-model="nickname" v-if="signIn.upModal" />
            <label for="login-input">Login</label>
            <input id="login-input" type="text" v-model="login" />
            <label for="password-input">Password</label>
            <input id="password-input" type="password" v-model="password" />
            <label for="password-again-input" v-if="signIn.upModal">Password again</label>
            <input id="password-again-input" type="password" v-model="passwordAgain" v-if="signIn.upModal" />
        </div>
        <button id="ok-button" @click="sendData">Ok</button>
        <button id="close-button" @click="closeModal">
            <img id="close-image" src="../assets/delete.svg" alt="C" />
        </button>
    </div>
</template>

<script setup>
    import { ref, computed, watch } from 'vue'
    import { store } from '../stores/store'

    let socket = store.state.socket
    let client = store.state.client
    let signIn = store.state.signIn
    let rooms = store.state.rooms
    let currentRoom = store.state.currentRoom
    let taskLists = store.state.taskLists

    let nickname = ref('')
    let login = ref('')
    let password = ref('')
    let passwordAgain = ref('')

    watch(signIn, () => {
        if (signIn.modalVisibility || signIn.upModal) {
            nickname.value = ''
            login.value = ''
            password.value = ''
            passwordAgain.value = ''
        }
    })

    let header = computed(() => {
        if (signIn.modalVisibility) return 'Sign in'
        return 'Sign up'
    })

    function sendData() {
        if (signIn.modalVisibility) {
            socket.emit('signIn', { login: login.value, password: password.value })
        } else {
            if (password.value !== passwordAgain.value) {
                alert('Passwords is different')
                return
            }
            socket.emit('signUp', nickname.value, login.value, password.value)
        }
    }
    function closeModal() {
        signIn.modalVisibility = false
        signIn.upModal = false
    }

    function notificate() {
        const anim = [
            { opacity: 0 },
            { opacity: 1 },
        ]
        const params = {
            duration: 1000,
            delay: 1000,
            iterations: 5,
            direction: "alternate",
            fill: "forwards",
        }
        document.getElementById("notification-circle").animate(anim, params);
    }

    socket.on('successfulSignIn', (data) => {
        client.name = data.name
        client.image = data.image
        client.id = data.id
        Object.assign(rooms, data.rooms)
        Object.assign(taskLists, data.taskLists)
        signIn.state = true
        console.log(data.notifications)
        data.notifications.forEach((not) => store.state.notifications.push(not))
        if(data.notifications.length > 0) notificate()
        closeModal()
    })
    socket.on('unsuccessfulSignIn', () => {
        alert('Wrong login or password')
    })
    socket.on('unsuccessfulSignUp', () => {
        alert('This login is already taken')
        document.getElementById('login-input').focus()
    })
    socket.on('accessViolation', (message) => {
        alert(message)
    })
</script>

<style scoped>

    button {
        background-color: white;
        border-radius: 0px;
        border: 2px solid gray;
        cursor: pointer;
    }

    #wrapper {
        font-family: Arial;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        border: 2px solid gray;
        border-radius: 8px;
        background: white;
    }

    #header {
        position: absolute;
        top: 24px;
        left: 16px;
    }

    #fields {
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
        margin: 60px 0px;
        padding: 36px;
    }

    #ok-button {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }

    #close-button {
        position: absolute;
        top: 16px;
        right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    #close-image {
        height: 24px;
        width: 24px;
    }

</style>