<template>
    <div id="wrapper">
        <!--General header-->
        <div id="header-container">
            <div id="header-name-container">
                <h1 id="header-name">Students</h1>
            </div>
            <div id="header-button-container">
                <button id="add-button" class="image-wrapper" @click="addStudent">
                    <img id="add-image" src="../assets/add.svg" alt="A" />
                </button>
            </div>
        </div>
        <!--Table-->
        <div id="table-container">
            <div id="upperline"></div>
            <div id="table-subcontainer">
                <table id="table">
                    <!--Table header-->
                    <thead id="table-head">
                        <tr class="table-row">
                            <th class="table-column">
                                <input id="general-checkbox" class="checkbox" :checked="allSelected" @click="selectAll" type="checkbox" />
                            </th>
                            <th class="table-column">Group</th>
                            <th class="table-column">Name</th>
                            <th class="table-column">Gender</th>
                            <th class="table-column">Birthday</th>
                            <th class="table-column">Status</th>
                            <th class="table-column">Options</th>
                        </tr>
                    </thead>
                    <!--Table rows-->
                    <tbody id="table-body">
                        <tr class="table-row" v-for="student in students" :key="student.id">
                            <td class="table-column">
                                <input class="checkbox" type="checkbox" :checked="student.status" @click="changeStatus(student.id)" />
                            </td>
                            <td class="table-column">{{student.group}}</td>
                            <td class="table-column">{{student.firstName + ' ' + student.lastName}}</td>
                            <td class="table-column">{{student.gender[0]}}</td>
                            <td class="table-column">{{convertDate(student.birthdate)}}</td>
                            <td class="table-column">
                                <div :class="['status', student.status ? 'status-active' : 'status-nonactive']"></div>
                            </td>
                            <td class="table-column">
                                <div class="buttons-container">
                                    <button class="edit-button image-wrapper" @click="editStudent(student.id)">
                                        <img class="edit-image" src="../assets/edit.svg" alt="E" />
                                    </button>
                                    <button class="delete-button image-wrapper" @click="deleteStudent(student.id)">
                                        <img class="delete-image" src="../assets/delete.svg" alt="D" />
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="underline"></div>
        </div>
    </div>
</template>

<script setup>
    import { ref, computed } from 'vue'
    import { store } from '../stores/store'

    let socket = store.state.socket
    let client = store.state.client
    let signIn = store.state.signIn
    let rooms = store.state.rooms
    let currentRoom = store.state.currentRoom
    let studentsModals = store.state.studentsModals

    let students = store.state.students

    socket.emit('fetchStudents')

    function addStudent() {
        studentsModals.addVisibility = true
    }
    function editStudent(id) {
        studentsModals.editVisibility = true
        studentsModals.currentId = id
    }
    function deleteStudent(id) {
        studentsModals.deleteVisibility = true
        studentsModals.currentId = id
    }
    function convertDate(date) {
        date = new Date(date)
        return String(date.getDate()).padStart(2, "0") + "." + String(date.getMonth() + 1).padStart(2, "0") + "." + date.getFullYear()
    }
    function changeStatus(id) {
        socket.emit('changeStatus', id)
    }

    let allSelected = computed(() => {
        let res = students.find((student) => {
            return student.status === false
        })
        if (res === undefined) return true
        return false
    })

    function selectAll() {
        students.forEach((student) => {
            if (student.status === false) {
                changeStatus(student.id)
            }
        })
    }

</script>

<style scoped>

    img {
        height: 24px;
        width: 24px;
    }

    button {
        background-color: white;
        border: 1px solid gray;
        cursor: pointer;
    }

    .image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    #wrapper {
        font-family: Arial;
        font-size: 16px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #header-container {
        margin: 20px;
        display: flex;
        flex-direction: column;
    }

    #header-name {
        font-size: 28px;
    }

    #header-button-container {
        display: flex;
        flex-direction: row-reverse;
    }

    #table, .table-row, .table-column {
        padding: 12px;
        vertical-align: middle;
        text-align: center;
        border-collapse: separate;
        border: 1px solid gray;
    }

    #table-container {
        position: relative;
        height: 100%;
        margin: 0px 20px 40px;
        overflow: hidden;
    }

    #table-subcontainer {
        overflow-y: scroll;
        overflow-x: auto;
        height: 100%;
    }

    #table {
        width: 100%;
        padding: 0;
        height: 100%;
    }

    #table-head {
        position: sticky;
        top: 0;
        background: white;
    }

    #upperline {
        position: absolute;
        border: 1px solid gray;
        right: 12px;
        top: 0px;
        left: 0px;
        z-index: 1;
    }

    #underline {
        position: absolute;
        border: 1px solid gray;
        right: 12px;
        bottom: 0px;
        left: 0px;
        z-index: 1;
    }

    .status {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        margin: auto;
    }

    .status-active {
        background-color: lime;
    }

    .status-nonactive {
        background-color: #cccccc;
    }

    .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4px;
    }

</style>