<template>
    <div id="app-wrapper">
        <!--Header-->
        <header id="header">
            <!--Logo-->
            <div id="logo-container">
                <a id="logo-link" href="#">
                    <h1 id="logo-name">CMS</h1>
                </a>
            </div>
            <!--Right side header-->
            <div id="right-header-container">
                <!--Notifications-->
                <div id="notification-container" @mouseover="showNotificationWindow" @mouseout="hideNotificationWindow">
                    <router-link id="notification-link" to="/messages">
                        <img id="notification-image" src="./assets/notification.svg" alt="N" />
                    </router-link>
                    <div id="notification-circle"></div>
                </div>
                <!--Profile-->
                <div id="profile-container" @mouseover="showProfileWindow" @mouseout="hideProfileWindow">
                    <a id="profile-link" href="#">
                        <div id="profile-image-container">
                            <img id="profile-image" :src="client.image" alt="P" />
                        </div>
                        <div id="profile-name">{{ client.name }}</div>
                    </a>
                </div>
            </div>
        </header>
        <!--Main content-->
        <div id="main">
            <!--Navigation-->
            <aside id="navigation">
                <ul id="navigation-list">
                    <li class="navigation-item">
                        <router-link class="navigation-link" to="/">Dashboard</router-link>
                    </li>
                    <li class="navigation-item">
                        <router-link class="navigation-link" to="/students">Students</router-link>
                    </li>
                    <li class="navigation-item">
                        <router-link class="navigation-link" to="/tasks">Tasks</router-link>
                    </li>
                </ul>
            </aside>
            <!--Main content-->
            <div id="main-content">
                <router-view></router-view>
            </div>
            <!--Notification window-->
            <div id="notification-window" v-show="show.notificationWindow && notifications.length" @mouseover="showNotificationWindow" @mouseout="hideNotificationWindow">
                <div class="notification-message" v-for="notification in notifications" :key="notification.id">
                    <div class="notification-profile">
                        <img class="notification-profile-image" :src="notification.room.image" alt="P" />
                        <div class="notification-profile-name">{{notification.room.name}}</div>
                    </div>
                    <div class="notification-message-box">{{notification.text}}</div>
                </div>
            </div>
            <!--Profile window-->
            <div id="profile-window" v-show="show.profileWindow" @mouseover="showProfileWindow" @mouseout="hideProfileWindow">
                <ul id="profile-window-list">
                    <li v-if="!signIn.state" class="profile-window-list-item">
                        <div class="profile-window-list-item" @click="openSignInModal">Sign in</div>
                    </li>
                    <li v-if="!signIn.state" class="profile-window-list-item">
                        <div class="profile-window-list-item" @click="openSignUpModal">Sign up</div>
                    </li>
                    <li v-if="signIn.state" class="profile-window-list-item">
                        <div class="profile-window-list-item" @click="openProfileModal">Profile</div>
                    </li>
                    <li v-if="signIn.state" class="profile-window-list-item">
                        <div class="profile-window-list-item" @click="logOut">Log out</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="modals-container" v-show="signIn.modalVisibility || signIn.upModal || client.profileModalVisibility || client.addMemberModalVisibility || studentsModals.addVisibility || studentsModals.editVisibility || studentsModals.deleteVisibility || client.addTaskModal || client.editTaskModal">
        <SignInModal v-show="signIn.modalVisibility || signIn.upModal" />
        <ProfileModal v-show="client.profileModalVisibility" />
        <AddMemberModal v-show="client.addMemberModalVisibility" />
        <AddEdtStudentModal v-show="studentsModals.addVisibility || studentsModals.editVisibility" />
        <DeleteStudentModal v-show="studentsModals.deleteVisibility" />
        <AddEdtTaskModal v-show="client.addTaskModal || client.editTaskModal" />
    </div>
</template>

<script setup>
    import { RouterLink, RouterView } from 'vue-router'
    import { io } from "socket.io-client";
    import { ref, computed, onBeforeUnmount, onUnmounted } from 'vue'
    import { store } from './stores/store'
    import router from './router'
    import SignInModal from './components/SignInModal.vue'
    import ProfileModal from './components/ProfileModal.vue'
    import AddMemberModal from './components/AddMemberModal.vue'
    import AddEdtStudentModal from './components/AddEdtStudentModal.vue'
    import DeleteStudentModal from './components/DeleteStudentModal.vue'
    import AddEdtTaskModal from './components/AddEdtTaskModal.vue'

    store.state.socket = io('http://localhost:3000')

    let socket = store.state.socket
    let client = store.state.client
    let signIn = store.state.signIn
    let rooms = store.state.rooms
    let currentRoom = store.state.currentRoom
    let show = store.state.show
    let notifications = store.state.notifications
    let students = store.state.students
    let studentsModals = store.state.studentsModals
    let taskLists = store.state.taskLists
    
    function openSignInModal() {
        signIn.modalVisibility = true
    }
    function openSignUpModal() {
        signIn.upModal = true
    }
    function openProfileModal() {
        client.profileModalVisibility = true
    }
    function logOut() {
        socket.emit('logOut', client.id, currentRoom.id)
        Object.assign(client, {
            id: 0,
            name: 'unauthorized',
            image: require('./assets/profile.svg'),
            profileModalVisibility: false
        })
        rooms.length = 0
        taskLists.length = 0
        notifications.length = 0
        Object.assign(currentRoom, {})
        signIn.state = false
        router.push({ name: 'home' })
    }
    function showProfileWindow() {
        show.profileWindow = true
    }
    function hideProfileWindow() {
        show.profileWindow = false
    }
    function showNotificationWindow() {
        show.notificationWindow = true
    }
    function hideNotificationWindow() {
        show.notificationWindow = false
    }
    function notificate() {
        const anim = [
            { opacity: 0 },
            { opacity: 1 },
        ]
        const params = {
            duration: 1000,
            delay: 1000,
            iterations: 5,
            direction: "alternate",
            fill: "forwards",
        }
        document.getElementById("notification-circle").animate(anim, params);
    }

    socket.on('notification', (notification) => {
        if (router.currentRoute.value.name === 'messages') return
        notifications.push(notification)
        notificate()
    })

    onUnmounted(() => socket.emit('leave', currentRoom.id))


    socket.on('newMessage', (message) => {
        currentRoom.messages.push(message)
    })
    socket.on('newRoomAvailable', (roomData) => {
        rooms.push(roomData)
    })
    socket.on('roomDataResponse', (roomData) => {
        Object.assign(currentRoom, roomData)
    })
    socket.on('newMemberConnected', (member) => {
        currentRoom.members.push(member)
    })


    socket.on('studentsDataResponse', (studentsRes) => {
        Object.assign(students, studentsRes)
    })
    socket.on('receiveAddedStudent', (student) => {
        students.push(student)
    })
    socket.on('receiveEditedStudent', (student) => {
        let studentToEdit = students.find((studentRecord) => {
            return studentRecord.id === student.id
        })
        Object.assign(studentToEdit, student)
    })
    socket.on('statusChanged', (id) => {
        let student = students.find((student) => {
            return student.id === id
        })
        student.status = !student.status
    })

    socket.on('newTask', (listId, task) => {
        let list = taskLists.find((list) => {
            return list.id === listId
        })
        list.tasks.push(task)
    })
    socket.on('editedTask', (task) => {
        let list = taskLists.find((list) => {
            return list.id === task.listId
        })
        let taskRecord = list.tasks.find((taskEx) => taskEx.id === task.id)
        delete task.listId
        Object.assign(taskRecord, task)
    })
    socket.on('deleteTask', (taskId, listId) => {
        let taskList = taskLists.find((list) => {
            return list.id === listId
        })
        let taskListCopy = Object.assign([], taskList.tasks);
        taskList.tasks.length = 0;
        Object.assign(taskList.tasks, taskListCopy.filter((task) => task.id !== taskId));
    })

</script>

<style scoped>

    a {
        color: inherit;
        text-decoration: inherit;
    }

    #app-wrapper {
        font-family: Arial;
        font-size: 16px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: gray;
        color: white;
    }

    #logo-name {
        margin: 12px;
    }

    #right-header-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    #notification-container {
        position: relative;
    }

    #notification-link {
        height: 100%;
        display: flex;
        align-items: center;
    }

    #notification-image {
        height: 24px;
        width: 24px;
        filter: invert();
        margin: 0px 4px;
    }

    #notification-circle {
        background-color: red;
        opacity: 0;
        position: absolute;
        top: 16px;
        right: 8px;
        border-radius: 4px;
        width: 8px;
        height: 8px;
    }

    #profile-link {
        padding: 8px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    #profile-image {
        height: 28px;
        width: 28px;
        border-radius: 50%;
    }

    #profile-name {
        padding-left: 4px;
        padding-right: 8px;
    }



    #main {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 100%;
        overflow: hidden;
        position: relative;
    }

    #navigation {
        margin: 20px 8px 0px 32px;
    }

    .navigation-item {
        margin: 12px 0px;
    }

    #main-content {
        margin-right: 16px;
        overflow: hidden;
    }



    #notification-window, #profile-window {
        position: absolute;
        top: 0px;
        right: 0px;
        background: white;
        border: 2px solid gray;
        color: black;
        z-index: 2;
    }

    #notification-window {
        min-width: 180px;
    }

    .notification-message {
        margin: 12px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .notification-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .notification-profile-image {
        height: 24px;
        width: 24px;
        border-radius: 50%;
    }

    .notification-profile-name {
        font-size: 12px;
    }

    .notification-message-box {
        margin-left: 8px;
        border-radius: 4px;
        padding: 8px;
        white-space: pre-wrap;
        word-break: break-word;
        background-color: #cccccc;
        width: 100%;
    }

    .profile-window-list-item {
        margin: 12px 20px;
        cursor: pointer;
    }



    #modals-container {
        position: fixed;
        inset: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }
</style>

<style>

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        border: 1px solid #cccccc;
        border-radius: 12px;
    }

    ::-webkit-scrollbar-thumb {
        background: #cccccc;
        border-radius: 12px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: gray;
    }

</style>
