
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button {
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid black;
    font-size: 100%;
}

.checkbox {
    
}

.status {
    background-color: lightgrey;
    margin: auto;
    border-radius: 12px;
    width: 24px;
    height: 24px;
}

.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-message {
    padding: 8px;
    height: 40px;
}

.notification-profile {
    float: left;
    font-size: 75%;
    text-align: center;
}

.notification-profile p {
    margin: 0;
}

.notification-message-box {
    background-color: grey;
    border-radius: 4px;
    width: 75%;
    height: 100%;
    float: right;
}

#navbar {
    background-color: grey;
    padding-left: 16px;
    padding-right: 16px;
    height: 52px;
}

#cms-nav {
    color: white;
    margin: 12px 0px;
    float: left;
}

#cms-nav h1 {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

#right-nav {
    float: right;
    font-size: 80%;
}

#notification-nav {
    color: white;
    position: relative;
    padding: 12px;
    float: left;
    height: 28px;
}
#notification-nav img {
    filter: invert(1);
}

#notification-circle {
    background-color: red;
    opacity: 0;
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 4px;
    width: 8px;
    height: 8px;
}

#notification-window {
    color: black;
    background-color: white;
    border: 2px solid grey;
    position: absolute;
    top: 52px;
    left: 0px;
    min-width: 200px;
    min-height: 160px;
    display: none;
}

#profile-nav {
    color: white;
    padding: 12px;
    float: right;
}

#profile-nav a {
    display: flex;
}

#profile-img {
    float: left;
    height: 28px;
}

#profile-name {
    margin: auto 0;
    float: right;
    min-width: 100px;
}

#profile-name h2 {
    margin: auto;
    padding-left: 4px;
    font-size: 100%;
    font-weight: normal;
}

#profile-window {
    color: black;
    background-color: white;
    border: 2px solid grey;
    position: absolute;
    top: 52px;
    right: 0px;
    min-width: 160px;
    /*min-height: 100px;*/
    display: none;
}

#profile-window ul {
    color: white;
}

#profile-window li {
    
    margin: 16px 0px;
}

#profile-window span {
    color: black;
    font-size: 110%;
}

.profile-logged {
    display: none;
}

#sign-in-modal {
    top: 100px;
    left: 380px;
    padding: 32px;
    padding-top: 80px;
    height: 120px;
    width: 360px;
}

#sign-in-modal form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 12px;
}

#sign-in-modal-ok-btn {
    position: absolute;
    bottom: 32px;
    right: 32px;
    padding:4px;
}

#sign-in-modal-close-btn {
    position: absolute;
    top: 32px;
    right: 32px;
}

#wrapper {
}

#pages {
    display: flex;
    flex-direction: column;
    margin: 28px;
    font-size: 80%;
    float: left;
}

#pages a {
    margin: 4px;
}

#main-content {
    margin-right: 32px;
    float: right;
}

#upper-table {
    
}

#heading {
    margin: 36px 0px 0px 0px;
    font-size: 150%;
    font-weight: normal;
    
}

#add-btn {
    margin-bottom: 16px;
}

#main-table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

#main-table th {
    padding: 20px 24px;
}

#main-table td {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

   
/*#down-table {
    margin: 48px auto;
    text-align: center;
}*/

.modal {
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    display: none;
    position: fixed;
    z-index: 1;
    top: 20%;
    right: 25%;
    bottom: 20%;
    left: 25%;
    width: 50%;
    height: 60%;
}

#add-edt-modal-heading {
    margin: 24px 16px;
}

#add-edt-modal-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

#add-edt-modal label {
    display: block;
    margin: 0px;
}

#add-edt-modal-fieldset {
    margin: 0;
    border: solid black;
    border-width: 1px 0px;
    padding: 8px 80px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 12px;
}

#add-edt-modal-ok-btn {
    position: absolute;
    right: 16px;
    bottom: 12px;
    padding: 4px;
}

#del-modal h3 {
    text-indent: 16px;
}

#del-modal p {
    padding: 44px 16px;
    font-weight: bold;
}

#del-modal-bottom-line {

}

#del-modal-ok-btn {
    position: absolute;
    right: 20%;
    bottom: 20px;
    padding: 4px;
}

#del-modal-cancel-btn {
    position: absolute;
    right: 5%;
    bottom: 20px;
    padding: 4px;
}